In [13]:
import glob
import pandas as pd

In [29]:
path = 'data/2019'
files = glob.glob(path + '/*.csv')

# create empty list to store dataframes
li = []

# loop through list of files and read each one into a dataframe and append to list
for f in files:
    # read in csv
    temp_df = pd.read_csv(f)
    temp_df.columns = ["Trip Duration","Start Time","Stop Time","Start Station ID","Start Station Name", \
                       "Start Station Lat","Start Station Lng","End Station ID","End Station Name", \
                       "End Station Lat","End Station Lng","Bike ID","User Type","Birth Year","Gender"]
    # append df to list
    li.append(temp_df)
    print(f'Successfully created dataframe for {f} with shape {temp_df.shape}')

# concatenate our list of dataframes into one!
bike_df = pd.concat(li, axis=0)
print(bike_df.shape)
bike_df.head()

Successfully created dataframe for data/2019/201902-citibike-tripdata.csv with shape (943744, 15)
Successfully created dataframe for data/2019/201908-citibike-tripdata.csv with shape (2344224, 15)
Successfully created dataframe for data/2019/201906-citibike-tripdata.csv with shape (2125370, 15)
Successfully created dataframe for data/2019/201910-citibike-tripdata.csv with shape (2092573, 15)
Successfully created dataframe for data/2019/201904-citibike-tripdata.csv with shape (1766094, 15)
Successfully created dataframe for data/2019/201912-citibike-tripdata.csv with shape (955210, 15)
Successfully created dataframe for data/2019/201903-citibike-tripdata.csv with shape (1327960, 15)
Successfully created dataframe for data/2019/201901-citibike-tripdata.csv with shape (967287, 15)
Successfully created dataframe for data/2019/201909-citibike-tripdata.csv with shape (2444900, 15)
Successfully created dataframe for data/2019/201911-citibike-tripdata.csv with shape (1478708, 15)
Successfully created dataframe for data/2019/201907-citibike-tripdata.csv with shape (2181064, 15)
Successfully created dataframe for data/2019/201905-citibike-tripdata.csv with shape (1924563, 15)
(20551697, 15)

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Lat,Start Station Lng,End Station ID,End Station Name,End Station Lat,End Station Lng,Bike ID,User Type,Birth Year,Gender
0,219,2019-02-01 00:00:06.2570,2019-02-01 00:03:46.1090,3494.0,E 115 St & Lexington Ave,40.797911,-73.942300,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,33450,Subscriber,1989,1
1,143,2019-02-01 00:00:28.0320,2019-02-01 00:02:51.7460,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,25626,Subscriber,1990,1
2,296,2019-02-01 00:01:13.9870,2019-02-01 00:06:10.7340,3571.0,Bedford Ave & Bergen St,40.676368,-73.952918,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,35568,Subscriber,1987,1
3,478,2019-02-01 00:01:14.1520,2019-02-01 00:09:12.7870,167.0,E 39 St & 3 Ave,40.748901,-73.976049,477.0,W 41 St & 8 Ave,40.756405,-73.990026,25045,Subscriber,1964,2
4,225,2019-02-01 00:01:49.3410,2019-02-01 00:05:34.4980,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,34006,Subscriber,1979,1

In [30]:
subscriber_df = bike_df[(bike_df["User Type"] == "Subscriber")]
subscriber_df.shape

(17679521, 15)

In [31]:
customer_df = bike_df[(bike_df["User Type"] == "Customer")]
customer_df.shape

(2872176, 15)

In [27]:
subscriber_df.to_csv( "2019_subscriber.csv", index=False, encoding='utf-8-sig')

In [28]:
customer_df.to_csv( "2019_customer.csv", index=False, encoding='utf-8-sig')

In [16]:
bike_df.nunique()

Trip Duration            75704
Start Time            69340301
Stop Time             69362198
Start Station ID          1391
Start Station Name        1416
Start Station Lat         1466
Start Station Lng         1449
End Station ID            1445
End Station Name          1476
End Station Lat           1522
End Station Lng           1506
Bike ID                  29704
User Type                    2
Birth Year                 130
Gender                       3
dtype: int64