In [1]:
import glob
import pandas as pd

In [2]:
path = 'data/2020'
files = glob.glob(path + '/*.csv')

# create empty list to store dataframes
li = []

# loop through list of files and read each one into a dataframe and append to list
for f in files:
    # read in csv
    temp_df = pd.read_csv(f)
    temp_df.columns = ["Trip Duration","Start Time","Stop Time","Start Station ID","Start Station Name", \
                       "Start Station Lat","Start Station Lng","End Station ID","End Station Name", \
                       "End Station Lat","End Station Lng","Bike ID","User Type","Birth Year","Gender"]
    # append df to list
    li.append(temp_df)
    print(f'Successfully created dataframe for {f} with shape {temp_df.shape}')

# concatenate our list of dataframes into one!
bike_df = pd.concat(li, axis=0)
print(bike_df.shape)
bike_df.head()

Successfully created dataframe for data/2020/202006-citibike-tripdata.csv with shape (1882273, 15)
Successfully created dataframe for data/2020/202010-citibike-tripdata.csv with shape (2248869, 15)
Successfully created dataframe for data/2020/202004-citibike-tripdata.csv with shape (682762, 15)
Successfully created dataframe for data/2020/202012-citibike-tripdata.csv with shape (1088929, 15)
Successfully created dataframe for data/2020/202002-citibike-tripdata.csv with shape (1146830, 15)
Successfully created dataframe for data/2020/202008-citibike-tripdata.csv with shape (2329514, 15)
Successfully created dataframe for data/2020/202011-citibike-tripdata.csv with shape (1736704, 15)
Successfully created dataframe for data/2020/202007-citibike-tripdata.csv with shape (2105808, 15)
Successfully created dataframe for data/2020/202005-citibike-tripdata.csv with shape (1487890, 15)
Successfully created dataframe for data/2020/202003-citibike-tripdata.csv with shape (1068457, 15)
Successfully created dataframe for data/2020/202009-citibike-tripdata.csv with shape (2488225, 15)
Successfully created dataframe for data/2020/202001-citibike-tripdata.csv with shape (1240596, 15)
(19506857, 15)

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Lat,Start Station Lng,End Station ID,End Station Name,End Station Lat,End Station Lng,Bike ID,User Type,Birth Year,Gender
0,1062,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3419,Douglass St & 4 Ave,40.679279,-73.981540,3419,Douglass St & 4 Ave,40.679279,-73.981540,39852,Customer,1997,2
1,3810,2020-06-01 00:00:03.5530,2020-06-01 01:03:33.9360,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,336,Sullivan St & Washington Sq,40.730477,-73.999061,37558,Subscriber,1969,0
2,1017,2020-06-01 00:00:09.6140,2020-06-01 00:17:06.8330,389,Broadway & Berry St,40.710446,-73.965251,3562,Classon Ave & St Marks Ave,40.676520,-73.959608,37512,Customer,1988,2
3,226,2020-06-01 00:00:12.1780,2020-06-01 00:03:58.8640,3255,8 Ave & W 31 St,40.750585,-73.994685,505,6 Ave & W 33 St,40.749013,-73.988484,39674,Customer,1969,0
4,1437,2020-06-01 00:00:21.2550,2020-06-01 00:24:18.9650,367,E 53 St & Lexington Ave,40.758281,-73.970694,497,E 17 St & Broadway,40.737050,-73.990093,21093,Customer,1997,2

In [3]:
# filter by subscribers
subscriber_df = bike_df[(bike_df["User Type"] == "Subscriber")]
subscriber_df.shape

(14955766, 15)

In [4]:
# filter by customers
customer_df = bike_df[(bike_df["User Type"] == "Customer")]
customer_df.shape

(4551091, 15)

In [27]:
# save to csv
subscriber_df.to_csv( "2020_subscriber.csv", index=False, encoding='utf-8-sig')

In [28]:
# save to csv
customer_df.to_csv( "2020_customer.csv", index=False, encoding='utf-8-sig')